<!DOCTYPE html>
<html>

  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, user-scalable=no" />
      <title>{{ album.name }}</title>
      <link rel="stylesheet" href="/static/reset.css" />
      <link rel="stylesheet" href="/static/lightgallery.min.css" />
      <link rel="stylesheet" href="/static/style.css" />
      <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />      
  </head>

  <body>
    

    <div id="container">

      <!-- Gallery title -->
      <header>
        <h1><a href="">{{ album.name }}</a></h1>
      </header>
    
      <!-- Breadcrumbs of parent albums -->
      <nav id="breadcrumbs" class="breadcrumbs">
        {%- for crumb in album.crumbs -%}
          <a class="breadcrumb-item" href="/{{ crumb.url }}">{{ crumb.name }}</a>
          {%- if not loop.last -%} &nbsp;/&nbsp; {%- endif -%}
        {%- endfor -%}
      </nav>

      <!-- Nested albums, if any -->
      <div id="albums">
        {%- for album in album.albums -%}
        <a href="/{{ album.url }}" style="background-image: url('/{{ album.image }}')">
          <div class="info">
            <h3>{{ album.name }}</h3>
            <div class="summary">{{ album.size }} items</div>
          </div>
        </a>
        {%- endfor -%}
      </div>

      <!-- Pagination -->
      {% if album.thumbs | length %}
      <nav id="pagination" class="breadcrumbs">
        {% for page in album.pagination %}
          <a href="/{{ page.url }}" class="breadcrumb-item {{ page.current }}">{{ page.page }}</a>
        {% endfor %}
      </nav>  
      {% endif %}
    
      <!-- All photos and videos -->
      <ul id="media" class="clearfix">
        {% for thumb in album.thumbs %}
        <li data-src="/{{ thumb.large }}" data-download-url="/{{ thumb.full }}" data-sub-html="{{ thumb.name }}">
          <a href="/{{ thumb.large }}" data-download-url="/{{ thumb.full }}" data-sub-html="{{ thumb.name }}">
            <img src="/{{ thumb.small }}" loading="eager" width="{{ thumb.width }}" height="{{ thumb.height }}">
            <div class="info">{{ thumb.name }}</div>
          </a>
        </li>
        {% endfor %}
      </ul>

      <!-- Pagination -->
      {% if album.thumbs | length %}
      <nav id="pagination" class="breadcrumbs breadcrumbs-bottom">
        {% for page in album.pagination %}
          <a href="/{{ page.url }}" class="breadcrumb-item {{ page.current }}">{{ page.page }}</a>
        {% endfor %}
      </nav>
      {% endif %}

      <footer>
        Created using <a href="https://github.com/nikhilweee/shis">SHIS</a>.
      </footer>

    </div>

    <!-- jQuery -->
    <script src="/static/jquery.min.js"></script>
    <!-- LightGallery -->
    <script src="/static/lightgallery.min.js"></script>
    <script src="/static/lg-zoom.min.js"></script>

    <script>
      $(document).ready(function() {

        $("#media").lightGallery({
          speed: 0,
          toogleThumb: false,
          backdropDuration: 0,
          slideEndAnimatoin: false,
          startClass: '',
          zoom: true,
          preload: 5
        });

        $(document).keypress(function(e) {
          if (e.which === 61) {
            // zoom in on =
            $('#lg-zoom-in').click();
          } else if (e.which === 45) {
            // zoom out on -
            $('#lg-zoom-out').click();
          } else if (e.which === 48) {
            // reset on 0
            $('#lg-actual-size').click();
          }
        });

      });
    </script>

  </body>

</html>