<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <title>{{ album.name }}</title>
  <link rel="stylesheet" href="{{ album.revpath }}/static/reset.css" />
  <link rel="stylesheet" href="{{ album.revpath }}/static/lightgallery.css" />
  <link rel="stylesheet" href="{{ album.revpath }}/static/style.css" />
  <link rel="icon" type="image/x-icon" href="{{ album.revpath }}/static/favicon.ico" />
</head>

<body>
  <div id="container">
    <!-- Header -->
    <header>
      <h1><a href="{{ album.revpath }}/">{{ album.name }}</a></h1>
      {% if album.selection %}
      <div class="mode">
        <button class="mode-button notification">
          <!-- Notifications -->
        </button>
        <button class="mode-button" onclick="toggleSelection();">
          Toggle
          <input class="clipboard-button" type="image" src="{{ album.revpath }}/static/select.svg"
            title="Toggle selection." />
        </button>
        <button class="mode-button" onclick="copySelection();">
          Copy
          <input class="clipboard-button" type="image" src="{{ album.revpath }}/static/copy.svg"
            title="Copy selected file names to clipboard." />
        </button>
      </div>
      {% endif %}
    </header>

    <!-- Breadcrumbs -->
    <nav id="breadcrumbs" class="breadcrumbs">
      {% for crumb in album.crumbs %}
      <a class="breadcrumb-item" href="{{ album.revpath }}/{{ crumb.url }}">{{ crumb.name }}</a>
      {% if not loop.last %}&nbsp;/&nbsp;{% endif %}
      {% endfor %}
    </nav>

    <!-- Nested Albums -->
    <div id="albums">
      {% for subalbum in album.albums %}
      <a href="{{ album.revpath }}/{{ subalbum.url }}"
        style="background-image: url('{{ album.revpath }}/{{ subalbum.image }}')">
        <div class="info">
          <h3>{{ subalbum.name }}</h3>
          <div class="summary">{{ subalbum.size }} items</div>
        </div>
      </a>
      {% endfor %}
    </div>

    <!-- Top Pagination -->
    {% if album.thumbs %}
    <nav id="pagination" class="breadcrumbs">
      {% for page in album.pagination %}
      <a href="{{ album.revpath }}/{{ page.url }}" class="breadcrumb-item {{ page.current }}">{{ page.page }}</a>
      {% endfor %}
    </nav>
    {% endif %}

    <!-- Media -->
    <ul id="media" class="clearfix">
      {% for thumb in album.thumbs %}
      {% if album.group and loop.index0 is divisibleby album.group %}
      <br />
      {% endif %}
      <li>
        <div class="overlay overlay-left">
          {{ loop.index }}
        </div>
        <div class="overlay overlay-right">
          <a href="{{ album.revpath }}/{{ thumb.large }}" class="lg-selector" 
            data-sub-html="{{ thumb.name }}" data-download-url="{{ album.revpath }}/{{ thumb.full }}">
            <img src="{{ album.revpath }}/static/expand.svg" title="Open in gallery view" /></a>
          <a target="_blank" href="{{ album.revpath }}/{{ thumb.full }}">
            <img src="{{ album.revpath }}/static/external.svg" title="Open in a new tab" /></a>
        </div>
        <img src="{{ album.revpath }}/{{ thumb.small }}" loading="eager" width="{{ thumb.width }}"
          height="{{ thumb.height }}">
        <div class="info">{{ thumb.name }}</div>
      </li>
      {% endfor %}
    </ul>

    <!-- Bottom Pagination -->
    {% if album.thumbs %}
    <nav id="pagination" class="breadcrumbs breadcrumbs-bottom">
      {% for page in album.pagination %}
      <a href="{{ album.revpath }}/{{ page.url }}" class="breadcrumb-item {{ page.current }}">{{ page.page }}</a>
      {% endfor %}
    </nav>
    {% endif %}

    <!-- Footer -->
    <footer>
      Created using <a href="https://github.com/nikhilweee/shis">SHIS</a>.
    </footer>
  </div>

  <script src="{{ album.revpath }}/static/jquery.min.js"></script>
  <script src="{{ album.revpath }}/static/lightgallery.js"></script>
  <script src="{{ album.revpath }}/static/lg-zoom.min.js"></script>
  <script src="{{ album.revpath }}/static/index.js"></script>
  {% if album.selection %}
  <script src="{{ album.revpath }}/static/selection.js"></script>
  <script src="{{ album.revpath }}/static/select.js"></script>
  {% endif %}
</body>

</html>