/* 
 * Common 
 */

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  html {
    height: 100%;
  }
  html,
  body {
    padding: 0;
    margin: 0;
  }
  body {
    background: #fff;
    color: #444;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 1em;
  }
  a {
    text-decoration: none;
  }
  button {
    all: unset;
  }
  .clearfix:after {
    content: " ";
    display: block;
    clear: both;
  }
  .noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  #container {
    padding: 2em;
  }

/* 
 * Header, Footer and Nav
 */

  header {
    background: #fff;
    color: #444;
    font-size: 1.8em;
    margin-bottom: 1.1em;
  }
  h1 {
    display: inline-block;
    font-weight: bold;
  }
  h1 a {
    color: #001f3f;
  }
  footer {
    color: #444;
    font-size: 0.9em;
  }
  footer a {
    color: #001f3f;
  }
  nav.breadcrumbs {
    border-bottom: 1px solid #ddd;
    font-size: 1.2em;
    margin-bottom: 1em;
    padding: 0em 0em 0.8em 0em;
  }
  nav span {
    display: inline;
  }
  nav.breadcrumbs a {
    display: inline;
    color: #001f3f;
    text-decoration: none;
    display: inline-block;
    padding: 0.2em 0em 0.2em 0em;
  }
  nav.breadcrumbs-bottom {
    border-bottom: none;
    border-top: 1px solid #ddd;
    margin: 1em 0 0 0;
    padding: 0.8em 0em 0.8em 0em;
  }

  .mode {
    float: right;
    display: flex;
    align-items: center;
    position: fixed;
    padding: 1em;
    top: 0;
    right: 0;
    z-index: 10;
  }

  .clipboard-button {
    height: 1.5em;
    margin-left: 0.5em;
    display: inline-flex;
  }

  .mode-button {
    border: 2px solid rgba(0, 0, 0, 0.81);
    background-color: #ffffff;
    margin-left: 0.5em;
    border-radius: 4px;
    font: inherit;
    font-size: 0.5em;
    padding: 0.2em;
    font-weight: bold;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    height: 1.8em;
    display: inline-flex;
  }

  .mode-button:hover {
    background-color: rgba(0, 0, 0, 0.19)
  }

  .notification {
    border: none;
    background-color: transparent;
  }

  .notification.visible{
    border: 2px solid rgba(0, 0, 0, 0.81);
    background-color: #ffffff;
  }

/* 
 * Albums 
 */

  #albums,
  #media {
    margin: 0em;
  }
  #albums a {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    margin-right: 2em;
    margin-bottom: 3em;
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 220px;
    background-size: cover;
    border-radius: 8px;
  }
  #albums .info {
    position: absolute;
    padding: 1em;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 0.9em;
    line-height: 1.2em;
    margin: 0;
    width: 100%;
    font-weight: bold;
    bottom: 0;
    border-radius: 0px 0px 8px 8px;
  }
  #albums h3 {
    font-size: 1.3em;
    margin-bottom: 0.2em;
  }
  #media li {
    float: none;
    display: inline-block;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    position: relative;
    border: 0.5em solid rgba(98, 155, 255, 0.01);
    box-shadow: 0 0 0 5px rgba(98, 155, 255, 0.01) inset;
    overflow: hidden;
    border-radius: 16px;
    /* cursor: zoom-in; */
  }
  #media img {
    border-radius: 8px;
    display: block;
  }
  @media only screen and (max-width: 400px) {
    #albums a {
      width: 250px;
      height: 190px;
    }
  }

/* 
 * Custom Styles 
 */

  a.current {
    font-weight: bold;
  }

  #media a {
    color: #fff;
    display: inline-block;
  }

  #media .overlay img {
    height: 1em;
    width: 1.5em;
    margin: 0.4em;
    z-index: 20;
  }

  #media .info {
    position: absolute;
    padding: 0.8em;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 0.8em;
    margin: 0;
    width: 100%;
    font-weight: bold;
    bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 0px 0px 8px 8px;
  }

  #media .overlay {
    position: absolute;
    padding: 0.5em;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 0.8em;
    margin: 0;
    font-weight: bold;
    text-align: center;
    top: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
  }

  #media .overlay.overlay-left {
    left: 0;
    padding: 1em;
    border-radius: 8px 0px 8px 0px;
  }

  #media .overlay.overlay-right {
    right: 0;
    border-radius: 0px 8px 0px 8px;
  }

/* 
 * Selection 
 */

  .selected {
    border: 0.5em solid rgba(98, 155, 255, 0.99) !important;
    box-shadow: 0 0 0 5px rgba(98, 155, 255, 0.99) inset !important;
  }

  .selection-area {
    background: rgba(46, 115, 252, 0.11);
    border: 2px solid rgba(98, 155, 255, 0.81);
    border-radius: 0.1em;
  }